---
import Layout from "../layouts/Layout.astro";
import Intro from "../sections/Intro.astro";
---

<Layout
  title="PETWORLD - Your One-Stop Shop for All Pet Needs, From Essentials to Exotic Finds"
>
  <main>
    <Intro />
  </main>
</Layout>

<style is:global>
  @font-face {
    font-family: "Poppins-Bold";
    src: url("/public/Poppins/Poppins-Bold.ttf");
  }

  @font-face {
    font-family: "Poppins-Regular";
    src: url("/public/Poppins/Poppins-Regular.ttf");
  }

  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("/public/Poppins/Poppins-SemiBold.ttf");
  }

  @font-face {
    font-family: "Poppins-Regular";
    src: url("/public/Poppins/Poppins-Regular.ttf");
  }
</style>
